body {
	background-color: var(--clr-neutral-verylightgray);
	font-family: "Poppins", sans-serif;

	@media (min-width: 1300px) {
		.tabs {
			max-width: 1100px;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
		}
		.header-container {
			aside {
				max-width: 55ch;
			}
			.intro-container p {
				font-size: 2rem;
			}
			.intro-container h2 {
				font-size: 2rem;
			}
		}
		.tab-container p {
			max-width: 36ch;
		}
		.tab-container > * {
			margin: 0.2em 0;
		}
		.section {
			flex-basis: 30%;
		}
		.section-image {
			margin-top: 1.2em;
			padding-right: 0.5em;
		}
	}
}
.container {
	padding: 1em;
}
h2 {
	color: var(--clr-neutral-verydarkblue);
	font-weight: 600;
}
p {
	color: var(--clr-neutral-grayishblue);
	font-size: 0.9rem;
	line-height: 1.5rem;
}
.bordershape {
	border-top: 4px solid;
}

.borderred {
	border-top-color: var(--clr-primary-red);
}
.borderblue {
	border-color: var(--clr-primary-blue);
}
.borderorange {
	border-color: var(--clr-primary-orange);
}
.bordercyan {
	border-color: var(--clr-primary-cyan);
}
