:root {
	--clr-primary-red: hsl(0, 78%, 62%);
	--clr-primary-cyan: hsl(180, 62%, 55%);
	--clr-primary-orange: hsl(34, 97%, 64%);
	--clr-primary-blue: hsl(212, 86%, 64%);

	--clr-neutral-verydarkblue: hsl(234, 12%, 34%);
	--clr-neutral-grayishblue: hsl(229, 6%, 66%);
	--clr-neutral-verylightgray: hsl(0, 0%, 98%);

	--ff-400: 0.9375 rem;
}
